<div id="sec-hdr">
	<div id="sec-hdr-wrap">
		<div id="sec-hdr-logo">
			<%= link_to image_tag("HELogo.png", :size => "350x41"), root_path %>
		</div>
		<div id="sec-hdr-nav">
			<ul>
				<li><%= link_to "About", about_path, :class => "nav" %></li>
				<li><%= link_to "Services", services_path, :class => "nav" %></li>
				<li><%= link_to "Clients", clients_path, :class => "nav" %></li>
				<li><%= link_to "Contact", contact_path, :class => "nav" %></li>
			</ul>
		</div>
	</div>
</div>