<div id="sec-pg-hdr2">
	<h2>&nbsp;</h2>
</div>
<div class="side-box">

		<h4 class="side-box">Client Links</h4>
		<div class="link-border">
		<p class="links"><%= link_to 'Hospital Corporation of America', "http://www.hcahealthcare.com", :class => 'recent-news', :target => "_blank" %><br>
			<span style="font-size:80%;">&nbsp;&nbsp;&nbsp;<%= link_to '- HCA Engineering & Facility Management Login', "http://www.hayesenergyservices-hca.com", :class => "recent-news", :target => "_blank" %></span></p>
		</div>	
		<div class="link-border">
		<p class="links"><%= link_to 'Ardent Health Services', "http://www.ardenthealth.com", :class => 'recent-news', :target => "_blank" %></p>
		</div>
		<div class="link-border">
		<p class="links"><%= link_to 'Health Management Associates', "http://www.hma.com", :class => 'recent-news', :target => "_blank" %></p>
		</div>
		<div class="link-border">
		<p class="links"><%= link_to 'LifePoint Hospitals', "http://www.lifepointhospitals.com", :class => 'recent-news', :target => "_blank" %></p>
		</div>
		<div class="link-border">
		<p class="links"><%= link_to 'Community Health Systems', "http://www.chs.net", :class => 'recent-news', :target => "_blank" %></p>
		</div>
		<div class="link-border">
		<p class="links"><%= link_to 'HealthTrust Purchasing Group', "http://www.healthtrustcorp.com", :class => 'recent-news', :target => '_blank' %>
		</p>
		</div>
	
	<br>
	
</div>
<br>
<div class="side-box">
		<h4 class="side-box">Documents & Reports</h4>
		<div class="link-border">
			<p class="links"><%= link_to 'Daily Savings Report Sample', "/documents/DailyReport_3-29.pdf", :class => "recent-news", :target => "_blank" %>
		</div>
		<div class="link-border">
			<p class="links"><%= link_to 'Hayes Energy PowerPoint', "/documents/HE-PPT.pdf", :class => "recent-news", :target => "_blank" %></p>
		</div>
		<div class="link-border">
			<p class="links"><%= link_to 'Community Health Systems Sustainability Report', "/documents/CHSSustainability.pdf", :class => "recent-news", :target => "_blank" %></p>
		</div>
		<div class="link-border">
			<p class="links"><%= link_to 'Lifepoint Case Study', "/documents/LP2011Summary.pdf", :class => "recent-news", :target => "_blank" %></p>
		</div>
		<div class="link-border">
			<p class="links"><%= link_to 'Ascension - Baptist Nashville Savings Report', "http://www.chausa.org/Pages/Publications/Catholic_Health_World/Catholic_Health_World_Archive/2012/May_15/Ascension_Health_takes_up_challenge_to_cut_its_energy_use_by_20_percent/", :class => "recent-news", :target => "_blank" %></p>
		</div>
</div>
<br><br><br>