<!DOCTYPE html>
<html>
<head>
  <title>Hayes Energy - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
function slideSwitch() {
		var $active = $('#slideshow IMG.active');
		if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

		var $next = $active.next().length ? $active.next() : $('#slideshow IMG:first');

		$active.addClass('last-active');

		$next.css({opacity: 0.0})
			.addClass('active')
			.animate({opacity: 1.0}, 1000, function(){
				$active.removeClass('active last-active');
			});
	}

	$(function() {
		setInterval( "slideSwitch()", 9000 );
	});
</script>
</head>
<body>
<%= render 'partials/headersec' %>
<%= yield %>
<%= render 'partials/footer' %>
</body>
</html>
